* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    background: #181a1b;
  }  


/*=========header==========*/

.top {
  z-index: 1000;
  background: #181a1b;
  position: fixed;
  width: 100%;
  height: 4rem;
  padding-top: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 29rem;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
}

.nav ul li a {
  color: #aaa;
  position: relative;
  padding: 12px 19px;
  background: transparent;
  font-size: 17px;
  border: none;
  border-radius: 30px;
}

.top nav ul li a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  height: 100%;
  width: 100%;
  background-color: goldenrod;
  filter: blur(2em);
  opacity: 0;
  pointer-events: none;
}

.top nav ul li a:hover {
  filter: blur(0.05em);
  animation: lightBox 1s ease-in-out forwards;
}

.top nav ul li a:hover::after {
  animation: light 1s ease-in-out forwards;
}

@keyframes lightBox {
  0% {
    border: 1px solid goldenrod;
    box-shadow: 0 0 5px 0px goldenrod, inset 0 0 10px goldenrod;
  }

  20% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  30% {
    border: 1px solid goldenrod;
    box-shadow: 0 0 10px 0px goldenrod, inset 0 0 15px goldenrod;
  }

  38% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  45% {
    border: 1px solid goldenrod;
    box-shadow: 0 0 15px 0px goldenrod, inset 0 0 20px goldenrod;
  }

  50% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  53% {
    border: 1px solid goldenrod;
    box-shadow: 0 0 15px 0px goldenrod, inset 0 0 25px goldenrod;
  }

  65% {
    border: 1px solid #ffffff1c;
    box-shadow: none;
  }

  100% {
    border: 1px solid goldenrod;
    box-shadow: 0 0 15px 0px goldenrod, inset 0 0 25px goldenrod;
  }
}

@keyframes light {
  0% {
    opacity: 0.7;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }

  38% {
    opacity: 0;
  }

  45% {
    opacity: 0.7;
  }

  50% {
    opacity: 0;
  }

  53% {
    opacity: 0.7;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes lightText {
  0% {
    color: goldenrod;
    text-shadow: 0 0 5px goldenrod;
  }

  20% {
    color: goldenrod;
    text-shadow: none;
  }

  30% {
    color: goldenrod;
    text-shadow: 0 0 10px goldenrod;
  }

  38% {
    color: goldenrod;
    text-shadow: none;
  }

  45% {
    color: goldenrod;
    text-shadow: 0 0 15px goldenrod;
  }

  50% {
    color: goldenrod;
    text-shadow: none;
  }

  53% {
    color: goldenrod;
    text-shadow: 0 0 15px goldenrod;
  }

  65% {
    color: goldenrod;
    text-shadow: none;
  }

  100% {
    color: goldenrod;
    text-shadow: 0 0 15px goldenrod;
  }
}
/*=============header ends=============*/





  :root {
  --container-bg-color: #333;
  --left-bg-color: transparent;
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.342);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}


.hero-container h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
   animation: glow 1.25s ease-in-out infinite;
  animation-delay: var(--delay);
}

@keyframes glow{
  0%,
  100%{
    color: var(--color);
    text-shadow: 0 0 10px #0625dd, 0 0 50px #0625dd, 0 0 100px #0625dd;
  }
  10%,
  90%{
    color: #fff;
    text-shadow: none;
  }
}



.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('../img/Logo.png') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}


  /*=====header=====*/
  
/*nav{
  background: rgba(0,0,0,.3);
  /*width: -webkit-max-content;
  width: 300px;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
  grid-gap: 0.8rem;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.nav ul{
  display: flex;
  flex-direction: row;
}



nav a{
background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: hsla(0,0%,100%,.6);
  color: var(--color-light);
  font-size: 1.1rem;
  text-decoration: none;
}

nav a.active{
background: #4db5ff;
background: var(--color-primary);
color: #1f1f38;
color: var(--color-bg);
}*/
  /*====header ends=====*/

/*=====home section=====*/

/*=====loader====*/
.loader {
  margin-right: 2rem;
  --col1: goldenrod;
  --col2: rgba(255, 217, 0, 0.692);
  font-size: 2em;
  font-weight: 600;
  perspective: 800px;
  position: relative;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
  perspective: 800px;
  animation: anim 2s ease-in-out infinite, dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  ;
  content: '●';
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.loader::before {
  animation-delay: 3s;
  color: var(--col1);
}

.loader .text::before {
  color: var(--col2);
  animation-delay: 2s;
}

.loader .text::after {
  color: var(--col2);
}

.loader .text {
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: linear-gradient(90deg, 
  var(--col1) 0%,
  var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: relative;
}

@keyframes anim {
  0%, 100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, .5);
  }

  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
  }
}

@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    transform: skew(-5deg, 5deg);
  }
}

@keyframes dotMove {
  0%, 100% {
    translate: -60px 300px;
  }

  50% {
    translate: 160px -250px;
    scale: .5;
    opacity: .85;
  }
}




/*=====home section ends=====*/




/*---- about section starts----*/

.about {
  margin-top: 40rem;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}


.arrow-btn {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  width: 70px;
  gap: 4px;
  margin-left: 53rem;
  margin-top: -10rem;
  
}

.arrow-btn:hover {
  animation: move 2s infinite ease;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.round {
  width: 6px;
  height: 6px;
  background: #3da9fc;
  border-radius: 50%;
}

.line {
  display: flex;
  gap: 4px;
}

.two {
  transform: translateX(10px);
}

.three {
  transform: translateX(20px);
}

.four {
  transform: translateX(30px);
}

.five {
  transform: translateX(20px);
}

.six {
  transform: translateX(10px);
}

.left-side{
  content: "";
  height: 395px;
  width: 330px;
  padding: 2rem;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column; 
  flex: 2;
  gap: 2rem;
  background-color: rgba(218, 165, 32, 0.486);
  margin-left: 93px;
  border-radius: 0% 50%;
 
}

.left-items{
  margin-top: 3.5rem;
}

.left-items p{
  color: whitesmoke;
  margin: auto;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.left-items h2{
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.right-side{
  flex: 3;
  position: relative;
}



.right-container {
  margin-left: 15rem;
  align-items: center;
  justify-content: space-around;
}

.right-container .box {
  margin-top: 1rem;
}


.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, rgba(255, 217, 0, 0.692), #99999d, goldenrod);
  --color: goldenrod
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}


/*=====services=====*/
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spin {
  color: #4a4a4a;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: goldenrod;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
.container {
  margin-top: -15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;

}
/*.card {
  height: 365px;
  width: 350px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: goldenrod;
}*/


h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}



.main {
  max-width: 75rem;
 margin: auto;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

 .icons{
  margin: auto;

}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}



.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}



.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}


/*.card {
  position: relative;
  width: 18rem;
  height: 30rem;
  color: #2e2d31;
  background: #13131349;
  overflow: hidden;
  border-radius: 20px;
}*/


/*=========contact form==========*/
  
.top-headings{
  margin: auto;
  text-align: center;
  color: goldenrod;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.top-headings h3{
  margin-bottom: 3rem;
}

.contact{
  display: flex;
}


.item-hints {
  --purple: #720c8f;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-left: 8rem;
}
.item-hints .hint {
  margin: 150px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #ffe4e4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.item-hints .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}
.item-hints .hint-content {
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 0;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: hidden;
  pointer-events: none;
}
.item-hints .hint:hover .hint-content {
  position: absolute;
  z-index: 5;
  padding: 35px 0;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  color: #fff;
  visibility: visible;
  pointer-events: none;
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 29px;
  left: 0;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 29px;
  left: 0;
  width: 80px;
  content: "";
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}

.form-container {
  margin: auto;
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group input:hover, 
textarea:hover
{
  transform: scale(1.05) rotateY(20deg);

}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}







/*---- footer section starts----*/

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #1010105d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: goldenrod;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: goldenrod;
  bottom: 35px;
  font-size: 14px;
}


/*---- footer section ends----*/



/* sm */


@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}

@media screen and (max-width: 767px) {
  .box {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: column;
  }

  .word{
    font-size: 1rem;
  }

header{
  position: fixed;
}

.button-container {
    display: flex;
    margin: auto;
  background-color: #151515;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(245, 73, 144, 0.5) 5px 10px 15px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }


  .about-text p {
    margin-top: 1rem;
    margin: auto;
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: #ffffffb6;
  }


}


@media screen and (max-width: 991px) {
  #menu {
    z-index: 2;
  }

  #menu-bar {
    width: 25px;
    height: 40px;
    margin: 17px 20px 20px;

    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: goldenrod;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
    padding: 0;
  }

  .nav ul {
    padding: 0 9px;
  }

  .nav ul li {
    list-style-type: none;
    display: flex;
  }

  .nav li {
    list-style: none;
  }

  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg,
  #menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #1df2ee59, #181a1bbe);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change {
    display: block;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }

  .skills .box {
    flex-direction: column;
  }


  .container{
    display:flex;
    flex-direction: column;
  }

  .form-container{
    width: 19rem;
    margin: auto;

}

.form-container .form-group textarea {
    width:90%;
}

.form-container .form-group input {
    width:90%;
}

.social a {
  width: 35px;
  

}


@media screen and (max-width: 475px) {


  .hero-container{
    visibility: hidden;
  }
  .contact{
    display: flex;
    flex-direction: column;
  }

.about{
  display: flex;
  flex-direction: column;
  
}

.left-side{
 margin: auto;

background-color: transparent;
}

.right-side{

  margin-left: -13rem;
}


.arrow-btn{
  visibility: hidden;
}

  .item-hints{
   margin-left: -15rem;
    
  }

  .item-hints .hint-content {
    width: 200px;
}

footer p:nth-child(2){
 width: fit-content;
}
}
}
